.fondo{background: #1CD8D2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.fondoima{

background-color: azure;


}


.girar{

transition: 500ms;

transform: rotate(360deg);


}


.alreves{


transition: 500ms;

transform: rotate(-360deg);





}


.grande{
transition: 100ms;

height: 295px;

}

.mostrarr{
transition: 100ms;


}


.pequeño{
transition: 200ms;

height:119px;

}



.fondoBarra{



background: #283048; 

}


.boton{

position: relative;

top:22px;

}


.margen{


margin: 2px;

}

.fondoB{



	background: rgb(255, 255, 255); 

}


.izquierda{
position: relative;
right: -65px;

}


.letra1{

transition: 1000ms;
color: rgba(250, 250, 250, 0.986);

font-family: 'Enriqueta', serif;

}


.colorlista{

color: #FBD786;
list-style: none;
font-weight: bold;

}


.e{


transition: 400ms;
background-color: black;
}

.sube{
position: relative;
top: 4px;


}
.letra{
	transition: 500ms;
color: rgba(250, 250, 250, 0.986);
font-size: 25px;
margin: 23px;

font-family: 'Enriqueta', serif;

}


.letrageneral{

color: white;

font-family: 'Enriqueta', serif;



}